html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background-color: #53d33da3;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    border: 3px solid #04AC4D;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

#add-button {
    background-color: #04AC4D;
    color: #fafafa;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

#input-field {
    text-align: center;
    font-size: 15px;
    background-color: beige;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    border: 1px solid #04AC4D;
    font-family: 'Montserrat', sans-serif;
}

ul {
    padding: 0 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: center;
}

ul li {
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    color: #fafafa;
    background-color:  #EC4D43;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}